#footer>#logo{
    width: 200px;
    height: 100px;
    background-color: #ffffff;
    float: left;
}
#footer>#logo>img{
    position: relative;
    left: 20px;
    top: 20px;
}
#footer>#footer-right{
    width: 600px;
    height: 100px;
    background-color: #ffffff;
    float: left;
}
#footer>#footer-right>#bot-menu{
    width : 600px;
    height: 50px;
    background-color: #ffffff;
    
}
#bot-menu>ul{
    position: relative;
    left: 20px;
    top: 10px;
}
#bot-menu>ul>li{
    float: left;
    margin-right: 10px;
}
#footer>#footer-right>#copyright{
    width: 600px;
    height: 50px;
    background-color: #ffffff;
    
}

#copyright>address{
    position: relative;
    left: 20px;
    top: 10px;
}